.Card1
{
margin-top: 1.5rem;
background-color:#ffffff;
min-height: 100px;
max-height:214px;
display: flex;
flex-direction: row;
width: 47%;

filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:15px;

display:flex;
flex-direction:row;
gap:1px;
border-style:hidden;
outline:none;
}

.info-ramo{
    width: 100%;
    .rectangle1
    {
    
    font-size: 18px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color:#30a8c3;
    border-radius:15px;
    height:40px;
    width:100%;
    align-items: center;
    text-align: center;
    }
    .ramo
    {
    
    font-family: Roboto;
    font-size: 13px;
    text-align: left;
    color: rgb(117, 15, 15);

    .nombre-ramo{

    font-size:20px;
    font-family:Roboto;
    }
    
    
    }

    .rectangle2
    {
    
    background-color:#154466;
    height:40px;
    width:165px;
    border-radius:15px;
    }
    .rectanglefis1
    {
        font-size: 20px;
        gap: 8px;
        display: flex;
        flex-direction: row;
        color: #ffffff;
        background-color:#1BE176;
        border-radius:15px;
        height:40px;
        width:100%;
        align-items: center;
        text-align: center;
        
        
    }
    .rectanglefis2
    {
        background-color:#357452;
        height:40px;
        width:165px;
        border-radius:15px;
        
    }
    .carrera
    {
    
    color:#ffffff;
    margin-left: 0.5rem;
    text-align:left;
    vertical-align:text-middle;
    font-size:28.399999618530273px;
    font-family:Roboto;
    line-height:auto;
    border-style:hidden;
    outline:none;
    left:5.83px;
    top:0px;
    position:absolute;
    width:146px;
    }

}
.alertas-ramo{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 20px;
    margin: 2px;
    align-items: left;
    text-align: center;
    align-content: left;
    font-family: Roboto;
    .descripcion-alerta{
        font-family: Roboto;
        font-size: 13px;
        text-align: left;
        color: rgb(117, 15, 15);
    }

}

