.Card1
{

background-color:#ffffff;
min-height: 100px;
max-height:214px;
display: flex;
flex-direction: row;


filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:15px;
padding-left:10px;
padding-right:10px;
display:flex;
flex-direction:row;
gap:1px;
border-style:hidden;
outline:none;
}

.info-ramo{
    width: 60%;
    .rectangle1
    {
    
    background-color:#30a8c3;
    border-radius:15px;
    height:40px;
    width:100%;
    }
    .ramo
    {
    
    color:#000000;
    text-align:left;
    vertical-align:text-middle;
    display: inline-flex;
    line-height:auto;
    border-style:hidden;
    outline:none;

    .nombre-ramo{

    font-size:20px;
    font-family:Roboto;
    }
    
    
    }

    .rectangle2
    {
    
    background-color:#154466;
    height:40px;
    width:165px;
    border-radius:15px;
    }
    .carrera
    {
    
    color:#ffffff;
    margin-left: 0.5rem;
    text-align:left;
    vertical-align:text-middle;
    font-size:28.399999618530273px;
    font-family:Roboto;
    line-height:auto;
    border-style:hidden;
    outline:none;
    left:5.83px;
    top:0px;
    position:absolute;
    width:146px;
    }

}
.alertas-ramo{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 20px;
    margin: 2px;
    align-items: left;
    text-align: center;
    align-content: left;
    font-family: Roboto;
    .descripcion-alerta{
        font-family: Roboto;
        font-size: 13px;
        text-align: left;
        color: rgb(117, 15, 15);
    }

}

